* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

img {
    max-width: 100%;
}

.fixed-width {
    max-width: 1170px;
    margin: auto;

}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* headercss */


.header {
    background: #3498db;
}

.header-left {
    float: left;
    width: 30%;
}

.header-left a {}

.header-left a img {
    width: 150px;
    padding: 7px;
}


.header-right {
    float: right;
    width: 70%;
}

.header-right ul {
    text-align: right;
}

.header-right ul li {
    display: inline-block;
    margin-left: -4px;

}

.header-right ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 0 30px;
    line-height: 60px;
    border-right: 1px solid #fff;
    transition: 0.5s;
    line-height: 67px;
}

.header-right ul li a:hover {
    background: #2980b9;
}

/* baner */

.baner {
    background-image: url(./img/slider.jpg);
    padding: 200px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-attachment: fixed;
}

.baner-caption {}

.baner-caption h1 {
    background: rgb(52, 152, 219, .6);
    color: white;
    width: ;
    max-width: 542px;
    margin: auto;
    font-size: 40px;
    padding: 12px 0px;
    border-radius: 5px;
    margin-top: 30px;
}

.baner-caption h2 {
    background: rgba(0, 0, 0, .4);
    color: white;
    display: inline-block;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 5px;
}


/* about */


.about {
    max-width: 800px;
    margin: auto;
    margin-top: 60px;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 16px;
}

.about p {
    font-size: 19px;
}


/* servise */

.servise {
    margin-top: 60px;
}

.servises-item {
    float: left;
    width: 31.3%;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 25px 10px;
    margin-left: 1%;
    margin-right: 1%;
}

.servises-item span {
    display: block;
    height: 60px;
    width: 60px;
    margin: auto;
    font-size: 35px;
    line-height: 60px;
    background: #2793da;
    color: #fff;
    border-radius: 20px 0px;
}

.servises-item h3 {
    margin: 20px 0px;
    font-size: 30px;
}

.servises-item p {}


/* blogsection */

.blog-container {
    margin: 60px 0;
}

.blog-left-contern {
    float: left;
    width: 70%;
}

.blog-item {
    margin-bottom: 30px;
}

.blog-item img {
    float: left;
    width: 160px;
    margin-right: 15px;
}

.blog-item p {}

.blog-right-contern {
    float: right;
    width: 25%;
}

.blog-right-contern h2 {
    font-size: 32px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
}

.blog-right-contern ul {}

.blog-right-contern ul li {
    list-style: none;
    border: 1px solid #ddd;
    padding: 16px;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #fafafa;
}

/* footer */


.footer{
    background: #2c3e50;
    color: #ffffff;
    padding: 15px 0px;
}
.footer-left{
    float: left;
    width: 40%;
}
.footer-right{
    float: right;
    width: 60%;
}

.social{
    text-align: right;
}
.social li{
    display: inline-block;
}
.social li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
}

.footer-left p {
	font-size: 18px;
}